<div class="app-header">
    <md-toolbar class="md-theme-indigo" layout="row">
        <div flex="5" style="margin: 20px;" ng-click="toggleLeft()" class="hand-over">
            <img style="height: 30px; width: 30px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABxSURBVGhD7dYxDYBAEETRFYECKkRQIgARBA1IQAEi0IInmKPeGu4m/yW/2mq6DQDAX3aDZhW3QYdKD63FkNp6h6wGjQoAABSnQYtKf5fW4vutLa8hk0GDAgAAxWXQptLfpbX4fmvLa0hvUKcAAF+LeABZddsp++ZlVAAAAABJRU5ErkJggg==">
        </div>
        <div class="margin-auto-0">
            <h1 class="md-toolbar-tools" flex>Stock Exchange</h1>
        </div>
    </md-toolbar>
</div>